@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(90deg, #7429C6 0%, #C951E7 100%);
  --violet: #7429C6;
  --pruple: #C951E7;
  --dark-purple: #672171;
  --gray: #4A5567;
  --light-gray: #97A3B6;
  --black: #030616;
  --white: #F2F5F9;
}

html,
body {
  min-height: 100vh;
}

body {
  background: var(--gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.box {
  max-width: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171e30;
  color: var(--white);

  border-radius: 8px;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 1.5rem;
}

.tries-mistakes {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & .left {
    display: flex;
  }

  & .right {
    display: flex;
  }
}

.action {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.btn {
  border: none;
  background-color: var(--pruple);
  padding: 0.8rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  filter: drop-shadow(0px 4px 0px #7b248a);

  font-family: "Outfit", sans-serif;
  color: var(--white);
  font-size: 0.875rem;
  transition: all .3s ease-in-out;

  &:active {
    filter: none;
  }
}